{% extends "base.html" %}

{% block title %}
	Dashboard
{% endblock %}

{% block head %}
	<style>
		.trackerImg {
			max-width: 100%;
		}
	</style>
{% endblock %}

{% block body %}
	{% include "pageHeader.html" %}

	<h1 class="display-2 mb-4 text-center">Upload</h1>
	
	<h1 class="display-6 mb-4 text-center">Hi {{ currUser }}! Upload a new tracker below to see how well you kept up with your habits this month!</h1>
	<form class="input-group mb-5 mx-auto" action="/upload/tracker" method="get" style="width: fit-content;">
		<input class="btn btn-lg btn-primary" type="submit" value="Upload New Tracker"/>
	</form>

	{% include "flash.html" %}

	<h1 class="display-2 mb-4 text-center">History</h1>

	<div class="row">
		{% if trackerList|length == 0 %}
		<h2>No trackers to display!!!</h2>
		{% endif %}

		{% macro trackerThumbnail(file, percentFinished, belongsToCurrUser) %}
		<div class="tracker-thumbnail d-flex align-items-stretch w-100 mt-3">
			<div class="d-flex flex-column align-items-center justify-content-center me-3">
				<h3 class="mb-3"><b>{{percentFinished}}%</b></h2>
				<span class="btn fa-stack text-center mb-3" style="font-size: 1.5em;">
					<i class="far fa-circle fa-stack-2x"></i>
					{% if belongsToCurrUser == true %}
					<i class="fas fa-pen"></i>
					{% else %}
					<i class="fas fa-eye"></i>
					{% endif %}
				</span>
			</div>
			<div class="flex-grow-1">
				<img class="rounded-3 shadow w-100" src="{{ url_for('get_image', filename=file) }}">
			</div>
		</div>
		{% endmacro %}
	
		{% for tracker in trackerList %}
		<div class="col-lg-4 col-sm-6 col-12 p-3">
			<div class="d-flex flex-column align-items-center p-4 h-100 border rounded-3 shadow">
				<h1><b>{{tracker.month}} {{tracker.year}}</b></h1>
				{% if tracker.winner is defined %}
				<h2>Winner: <b>{{tracker.winner}}</b></h2>
				{% else %}
				{% endif %}
				<div class="mt-auto w-100">
					{{ trackerThumbnail(tracker.currTrackerFile, tracker.currPercentFinished, true) }}
					{% if tracker.winner is defined %}
					{{ trackerThumbnail(tracker.secondTrackerFile, tracker.secondPercentFinished, false) }}
					{% endif %}
				</div>
			</div>
		</div>
        {% endfor %}
	</div>

	<script>
		// set onclick for image thumbnail edit buttons
		$(() => {
			$(document).on('click', 'span', function() {
                var src = $(this).closest('.tracker-thumbnail').find('img').attr('src')
				src = src.split("/")
				src = src[src.length-1]
				window.location.href = "/edit/tracker/"+src
            })
		})
	</script>
{% endblock %}
