{% extends "base.html" %}
{% from "editable.html" import editable %}

{% block title %}
    Uploaded Image
{% endblock %}

{% block head %}
    <script src="https://kit.fontawesome.com/5d2140906c.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
	{% include "logout.html" %}

    <h1 class="display-2">Uploaded image</h1>

    {% include "flash.html" %}

    <img id="uploaded-image" class="my-4" src="{{url_for('get_image', filename=filename)}}" style="width:100%;"></img>

    <div id="buttons" class="mb-3">
        <button id="save" class="btn btn-lg btn-primary">Save Tracker</button>

        <div class="btn-group">
            <button class="btn btn-lg btn-primary dropdown-toggle" type="button" id="monthPicker" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ month | default('Month') }}
            </button>
            <ul class="dropdown-menu menu-scroll" aria-labelledby="dropdownMenu2">
                <li><button class="dropdown-item month" type="button">January</button></li>
                <li><button class="dropdown-item month" type="button">February</button></li>
                <li><button class="dropdown-item month" type="button">March</button></li>
                <li><button class="dropdown-item month" type="button">April</button></li>
                <li><button class="dropdown-item month" type="button">May</button></li>
                <li><button class="dropdown-item month" type="button">June</button></li>
                <li><button class="dropdown-item month" type="button">July</button></li>
                <li><button class="dropdown-item month" type="button">August</button></li>
                <li><button class="dropdown-item month" type="button">September</button></li>
                <li><button class="dropdown-item month" type="button">October</button></li>
                <li><button class="dropdown-item month" type="button">November</button></li>
                <li><button class="dropdown-item month" type="button">December</button></li>
            </ul>
        </div>
    
        <div class="btn-group">
            <button class="btn btn-lg btn-primary dropdown-toggle" type="button" id="yearPicker" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ year | default('Year') }}
            </button>
            <ul class="dropdown-menu menu-scroll" aria-labelledby="dropdownMenu2">
                <li><button class="dropdown-item year" type="button">2021</button></li>
                <li><button class="dropdown-item year" type="button">2022</button></li>
            </ul>
        </div>
    </div>
    
    <table id="table" class="table table-hover align-middle">
        <tr>
            <th>Activity Name</th>
            <th>Times Completed</th>
            <th>Completion Goal</th>
            <th>Percent Finished</th>
            <th></th>
        </tr>
        {% for row in table %}
        <tr>
            <td><b>{{ editable(row.activityName) }}</b></td>
            <td>{{ editable(row.timesCompleted) }}</td>
            <td>{{ editable(row.completionGoal) }}</td>
            <td>{{ editable(row.percentFinished) }}</td>
            <td><i class="removeRowButton btn fas fa-trash"></i></td>
        </tr>
        {% endfor %}
    </table>

    <script>
        $(() => {
            // get month and year from dropwdowns
            $monthPicker = $("#monthPicker")
            $yearPicker = $("#yearPicker")
			$("button.month").map(function () {
				$(this).click(function() {
                    $monthPicker.text($(this).text())
				})
			})
			$("button.year").map(function () {
				$(this).click(function() {
                    $yearPicker.text($(this).text())
				})
			})

            // set delete row click listeners
            $table = $("#table")
            $(document).on('click', '.removeRowButton', function() {
                $(this).closest('tr').remove()
            })

            // set editable changed listeners
            $(".editable").map(function() {
                $(this).on('input', function() {
                    recalculatePercentFinished()
                })
            })
            function recalculatePercentFinished() {
                $table.find('tr').each(function (i, el) {
                    if(i==0) return
                    var $tds = $(this).find('td')
                    var timesCompleted = $tds.eq(1).text().trim()
                    var completionGoal = $tds.eq(2).text().trim()
                    var percentFinished = Math.round(timesCompleted/completionGoal*100)+"%"
                    $tds.eq(3).text(percentFinished)
                })
            }

            // save table function
            function saveTable() {
                var failed = false
                // create trackerdata object that will be sent to database
                var username = document.cookie.split("=")[1]
                var filename = window.location.pathname.split("/")
                filename = filename[filename.length-1]
                data = {
                    user: username,
                    filename: filename,
                    month: $monthPicker.text(),
                    year: $yearPicker.text(),
                    trackerData: []
                }
                // check if month and year are valid
                if(data.month.trim() == "Month" || data.year.trim() == "Year") {
                    alert("Failed. Please select the month and year for the tracker")
                    failed = true
                }
                // capitalize activity names
                $(".editable").map(function() {
                    $(this).text(toTitleCase($(this).text()));
                })
                // save table data
                $table.find('tr').each(function (i, el) {
                    // skip table header
                    if(i==0) return
                    // get data from row
                    var $tds = $(this).find('td')
                    var row = {
                        activityName: $tds.eq(0).text().trim(),
                        timesCompleted: $tds.eq(1).text().trim(),
                        completionGoal: $tds.eq(2).text().trim(),
                        percentFinished: $tds.eq(3).text().trim()
                    }
                    // check no cell is empty
                    $.each(row, function(key, value) {
                        if(value == "") {
                            alert("Failed. Empty cell for activity "+i)
                            failed = true
                        }
                    });
                    // check percent completion isn't > 100%
                    if(parseInt(row.percentFinished.split('%')[0]) > 100) {
                        alert('Failed. Percent Completed for activity '+i+' is illegal: '+row.percentFinished)
                        failed = true
                    }
                    data.trackerData.push(row)
                })
                // ajax send data
                if(!failed) {
                    return JSON.stringify(data)
                }
            }
            $("#save").click(function() {
                data = saveTable();
                if(data != null) {
                    $.ajax({
                        type: "POST",
                        url: "/upload/tracker",
                        data: data,
                        processData: false,
                        contentType: false,
                        success: function(response) {
                            window.location.href = "/dashboard";
                        }
                    })
                }
            })
        })
        
        function toTitleCase(str) {
            return str.replace(/\w\S*/g, function(txt){
                return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
            });
        }
    </script>

{% endblock %}