{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-4 fw-bold">Habit Tracker Analysis</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Login by typing in your name below.</p>
        {% include "flash.html" %}
        <div class="justify-content-sm-center mb-5">
            <form class="input-group" action="/login" method="post" onsubmit=setUser()>
                <div class="form-floating w-100 mb-3">
                    <textarea id="username" class="form-control" placeholder="placeholder"></textarea>
                    <label for="floatingTextarea">Username</label>
                </div>
                <input class="btn btn-primary btn-lg w-100" type="submit" value="Login""/>
            </form>
        </div>
    </div>
    <img src="{{ url_for('static', filename='img/loginPageImage.jpg') }}" class="img-fluid border rounded-3 shadow-lg">
  </div>

  <script>
      $(() => {
        $("#username").keypress(function (e) {
            if(e.which === 13 && !e.shiftKey) {
                e.preventDefault();
                $(this).closest("form").submit();
            }
        });
      })
      function setUser() {
          username = $("#username").val()
          document.cookie = 'username='+username+';'
      }
  </script>
{% endblock %}