{% extends "base.html" %}
{% block title %}
Upload Image
{% endblock %}
{% block body %}
<h1 class="display-2 mb-3">Upload</h1>

<h2><b>Take a picture of your habit tracker and upload it below.</b></h2>
<h2>Your habit tracker will be automatically scanned and a breakdown of your results will be shown.</h2>
<label for="image" class="form-label mt-3">Please lay the page flat on a dark surface. Take a picture while filling up as much of the frame as possible.</label>
{% include "flash.html" %}
<form id="image-upload-form" class="input-group" action="/uploader" method="post" enctype="multipart/form-data">
	<input class="form-control" type="file" name="image" id="image"/>
	<input class="btn btn-primary" type = "submit"/>
</form>
{% endblock %}
